# Python
__pycache__/
*.pyc
*.pyo
*.spec

# PyInstaller
build/
dist/

# Installer output
installer/

# libmpv (нужно скачивать отдельно, GPL/LGPL)
libmpv-2.dll
mpv-2.dll

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
